<!-- The footer at the very bottom of the screen -->
<footer class="site-footer outer">
    <div class="inner">

        <div class="col-6 footer-product-summary">
            <img src="{{ site.baseurl}}assets/images/logos/wiselabs.svg" alt="{{ site.title }}" style='height: 64px;' />
            <p class='footer-description'>Week Plan is an online weekly planner that makes you effective rather than just productive.</p>
        </div>

        <div class="col-3 footer-navigation-column">
            <h3>
                Services
            </h3>
            <ul>
                <li><a href="/apps">Apps</a></li>
                <li><a href="/online-course-time-management">Time management course</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/team-task-management">Week Plan for teams</a></li>

            </ul>
        </div>

        <div class="col-3 footer-navigation-column">
                <h3>
                    Help
                </h3>
                <ul>
                    <li><a href="/tutorials">Tutorials</a></li>
                    <li><a href="http://support.weekplan.net/forums/4-knowledge-base/">Product documentation</a></li>
                    <li><a href="/api">API documentation</a></li>
                    <li><a href="http://support.weekplan.net">Support &amp; contact</a></li>
                    
                </ul>
            </div>
    </div>

    <div class="site-footer-content inner">
        <section class="copyright">We are <a href="http://wiselabs.net">Wise Labs</a></section>
        <section class="poweredby">We help leaders and their organizations
            align execution with vision.</section>
        <section>Australia &copy; {{  site.time | date: '%Y' }}</section>
    </div>
</footer>
