<div class="pricing-table">
    <div class="pricing-table-column pricing-table-column-inverse col-6">
        <div class="pricing-table-header">PRO</div>
        <div class="pricing-table-body">

            <div class="pricing-row-price">
                <span class="pricing-price">
                    <span class="currency">$</span>2</span>
                <span class="pricing-time">/wk</span>
                <div class="billing-time">billed monthly or annually</div>
            </div>
            <div class="pricing-row">
                Weekly planner
            </div>
            <div class="pricing-row">
                Parking lot (up to 3 lists)
            </div>
            <div class="pricing-row">
                Quadrant view
            </div>
            <div class="pricing-row">
                Attachments
            </div>
            <div class="pricing-row">
                Team features
            </div>
            <div class="pricing-row">
                <strong>plus any three ULTIMATE features</strong>
            </div>
            <div class="pricing-row-button-container">
                <a href="https://app.weekplan.net/?returnTo=v2#view=Pro" class="button">Subscribe</a>
            </div>
        </div>
    </div><div class="pricing-table-column col-6">
        <div class="pricing-table-header">ULTIMATE</div>
        <div class="pricing-table-body">
            <div class="pricing-row-price">
                <span class="pricing-price">
                    <span class="currency">$</span>3</span>
                <span class="pricing-time">/wk</span>
                <div class="billing-time">billed monthly or annually</div>
            </div>
            <div class="pricing-row">
                <strong>Everything in PRO, plus:</strong>
            </div>
            <div class="pricing-row">
                Repeating tasks
            </div>
            <div class="pricing-row">
                Subtasks
            </div>
            <div class="pricing-row">
                Google calendar synchronization
            </div>
            <div class="pricing-row">
                Reminders
            </div>
            <div class="pricing-row">
                SMS integration
            </div>
            <div class="pricing-row">
                Vision editor
            </div>
            <div class="pricing-row">
                Goals (OKRs)
            </div>
            <div class="pricing-row">
                Access to data download
            </div>
            <!-- <div class="pricing-row">
                Analytics
            </div> -->
            <div class="pricing-row">
                Boards
            </div>
            <div class="pricing-row">
                Pomodoro timer
            </div>
            <div class="pricing-row-button-container">
                <a href="https://app.weekplan.net/?returnTo=v2#view=Pro" class="button">Subscribe</a>
            </div>
        </div>
    </div>
</div>