<nav class="site-nav">
    <div class="site-nav-left">
        {% if site.logo %}
            <a class="site-nav-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
        {% else %}
            <a class="site-nav-logo" href="{{ site.baseurl }}">{{ site.title }}</a>
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <ul class="nav" role="menu">
            <li role="menuitem"><a href="https://next.weekplan.net">Try Week Plan</a></li>
            <li role="menuitem"><a href="https://next.weekplan.net">Log in</a></li>
        </ul>
    </div>
</nav>
