@import 'variables.css';

.post-full-content a.button,
a.button {
    text-decoration: none;
    min-width: 150px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    line-height: 36px;
    color: var(--blue);
    font-size: 0.875em;
    margin: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid var(--blue);
    padding: .25em 1em;
    box-shadow: none;
}

.button svg {
    margin-right: .6em;
}

.post-full-content a.button:hover,
a.button:hover {
    background-color: var(--blue);
    color: #fff;
}

a.button.button-inverse {
    color: #fff;
}

.is-blue a.button.button-inverse {
    border-color: #fff;
}

.is-blue a.button.button-inverse:hover {
    background-color: #fff;
    color: var(--blue);
}

@media only screen and (max-width: 768px) {
    .post-full-content a.button, a.button, .button {
        display: block;
    }
}