.col-6 {
    width: 50%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .col-6 + .col-6 {
        margin-top: 2em;
    }
}