@import 'variables.css';

.pricing-table {
    text-align: center;
    margin-bottom: 3em;
    overflow: auto;
}

.pricing-table-header {
    font-family: 'Fjalla One', sans-serif;
    background-color: var(--blue);
    color: #fff;
}

.pricing-table-column {
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 15px;
}

.pricing-table-body,
.pricing-table-header {
    padding: .5em;

}

.pricing-table-body {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.pricing-price {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 42px;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
}

.pricing-price .currency {
    font-size: 34px;
    margin-right: 5px;
    position: relative;
    top: -20px;
}

.pricing-time {
    letter-spacing: -1px;
    margin-top: 5px;
    font-size: 30px;
}

.billing-time {
    color: #666;
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}

.pricing-row-price, 
.pricing-row-button-container {
    padding: 2em;
}