---
layout: default
current: home
class: 'home-template'
navigation: True
title: Rocks & Roles 
description: A blog on effectiveness
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
{% include leading-page-header.html %}

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card-list.html %}
        </div>

    </div>
</main>
